:root {
    --tileColor: black;
}

html, body {
    margin: 0;
    min-height: 100vh;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#534dd3, #3397C1);
}

header {
    background-image: linear-gradient(-135deg, #F3B02B, #E3A01B);
    text-align: center;
}

h1 {
    margin: 0;
    padding: 12px;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

button, input {
    margin: 15px;
    padding: 1px 4px;
    height: 3vw;
    width: 10vw;
    font-size: 1.2vw;
    border: none;
    background-image: linear-gradient(-135deg, #F3B02B, #E3A01B);
    border: 1px solid black;
    color: black;
}

input {
    padding: 0;
    background-image: none;
}

div.button_container {
    display: flex;
    flex-direction: row;
}

div.container {
    width: 720px;
    height: 720px;
    border: 2px solid black;
}

div.tile {
    float: left;
    background-color: white;
    margin: 0;
    padding: 0;
}

div.colored_tile {
    background-color: var(--tileColor);
}